[daemon]
; Set the location of the private key to be used
; in this 
privateKeyLocation=example-key/key
; Set the port this server should run on.
port=2222
; Git repository path
reposiotryPath=/git

[remote-auth-server]
; Likely the path to your Drupal site.
; This may include a port number.
url=http://syssettings.local
; This shouldn't change unless you have done somethign funky.
path=project-git-auth

[beanstalkd-git-repo-manager-daemon]
repoisotryPath=/git
; The location of your beanstalkd
url=127.0.0.1
port=11300
